{% extends 'admin/adminBase.html' %}

{% block content %}
<div class="row">
              
    <div class="col-md-12 grid-margin stretch-card bil">
      <div class="card">
        <div class="card-body">
        <!--  <p class="card-description"> Horizontal form layout </p>-->
          <form class="forms-sample">
            <div class="form-group row">
              <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Bill no</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="exampleInputUsername2" placeholder="Bill no">
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Bill Date</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="exampleInputEmail2" placeholder="Bill Date">
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputMobile" class="col-sm-3 col-form-label">Bill Description</label>
              <div class="col-sm-9">
                <textarea  class="form-control" id="exampleInputMobile" placeholder="Bi Description"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Bill amount</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Bill amount">
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Bill Remark</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="exampleInputConfirmPassword2" placeholder="Bill Remark"></textarea>
              </div>
            </div>
           
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <button type="reset" class="btn btn-light">Reset</button>
          </form>
        </div>
      </div>
    </div>
    
            
  </div>
{% endblock %}