{% extends 'admin/adminBase.html' %}

{% block content %}
<div class="page-header">
  <h3 class="page-title"> Add Allotment Amount to each Object</h3>
 <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Forms</a></li>
      <li class="breadcrumb-item active" aria-current="page">Form elements</li>
    </ol>
  </nav>-->
</div>
<div class="row">
              
    <div class="col-md-12 grid-margin stretch-card bil">
      <div class="card">
        <div class="card-body">
        <!--  <p class="card-description"> Horizontal form layout </p>-->
          <form class="forms-sample" method="POST">
            {% csrf_token %}
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Object Heads</label>
              <div class="col-sm-9">
                <select type="text" class="form-control" name="head">
                  <option disabled selected>--Select Head --</option>
                  {% for object in objects %}
                  <option value="{{object.id}}">{{object}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Allotment Amount</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="amount" id="exampleInputEmail2" placeholder="">
              </div>
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <button type="reset" class="btn btn-light">Reset</button>
          </form>
        </div>
      </div>
    </div>
    
            
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card bil">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Salary Allotment Table</h4>
          <div class="mbill">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Object Head </th>
                  <th> Alloted Amount</th>
                  <th> <a href="#" >Edit</a> </th>
                  <th> <a href="#" >Delete</a> </th>
                </tr>
              </thead>
              <tbody>
                {% for allotment in allotments %}
                <tr>
                  <td>{{allotment.Object_Code}}</td>
                  <td>{{allotment.Allotment_Amount}}</td>
                  <td><button>Edit</button></td>
                  <td><button>Delete</button></td>
                  
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
       </div>
      </div>
    </div>
  </div>  
{% endblock %}